{% extends 'master.html' %}

    
    <!--endSidebarapp-->
    {% block content %}
      <section class="content-section">
        <h2>Cours Sicav</h2>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
              <thead>
                <tr>
                  <th>Code titre</th>
                  <th>Date cours</th>
                  <th>PLH cours</th>
                  <th>PLB cours</th>
                  <th>Cours ouverture</th>
                  <th>Cours fermeture</th>
                  <th>Valeur cours</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td data-label="Code titre">SFBT</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">20,500</td>
                  <td data-label="PLB cours">20,350</td>
                  <td data-label="Cours ouverture">20,400</td>
                  <td data-label="Cours fermeture">20,400</td>
                  <td data-label="Valeur cours">20,400</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SIAME</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">2,380</td>
                  <td data-label="PLB cours">2,330</td>
                  <td data-label="Cours ouverture">2,330</td>
                  <td data-label="Cours fermeture">2,370</td>
                  <td data-label="Valeur cours">2,370</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SIMPAR</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">36,500</td>
                  <td data-label="PLB cours">35,500</td>
                  <td data-label="Cours ouverture">35,500</td>
                  <td data-label="Cours fermeture">36,500</td>
                  <td data-label="Valeur cours">36,500</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SIPHAT</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">9,900</td>
                  <td data-label="PLB cours">9,890</td>
                  <td data-label="Cours ouverture">9,900</td>
                  <td data-label="Cours fermeture">9,890</td>
                  <td data-label="Valeur cours">9,890</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SITS</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">2,050</td>
                  <td data-label="PLB cours">2,020</td>
                  <td data-label="Cours ouverture">2,020</td>
                  <td data-label="Cours fermeture">2,020</td>
                  <td data-label="Valeur cours">2,020</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SOMOCER</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">1,400</td>
                  <td data-label="PLB cours">1,350</td>
                  <td data-label="Cours ouverture">1,390</td>
                  <td data-label="Cours fermeture">1,400</td>
                  <td data-label="Valeur cours">1,400</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SOTEMAIL (AA)</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">1,680</td>
                  <td data-label="PLB cours">1,680</td>
                  <td data-label="Cours ouverture">1,680</td>
                  <td data-label="Cours fermeture">1,680</td>
                  <td data-label="Valeur cours">1,680</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SOTETEL</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">2,530</td>
                  <td data-label="PLB cours">2,450</td>
                  <td data-label="Cours ouverture">2,530</td>
                  <td data-label="Cours fermeture">2,510</td>
                  <td data-label="Valeur cours">2,510</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SOTIPAPIER (AA)</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">3,800</td>
                  <td data-label="PLB cours">3,690</td>
                  <td data-label="Cours ouverture">3,690</td>
                  <td data-label="Cours fermeture">3,780</td>
                  <td data-label="Valeur cours">3,780</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SOTRAPIL</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">8,100</td>
                  <td data-label="PLB cours">8,100</td>
                  <td data-label="Cours ouverture">8,100</td>
                  <td data-label="Cours fermeture">8,100</td>
                  <td data-label="Valeur cours">8,100</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SOTUMAG</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">1,910</td>
                  <td data-label="PLB cours">1,880</td>
                  <td data-label="Cours ouverture">1,910</td>
                  <td data-label="Cours fermeture">1,910</td>
                  <td data-label="Valeur cours">1,910</td>
                </tr>
                <tr>
                  <td data-label="Code titre">SOTUVER</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">3,920</td>
                  <td data-label="PLB cours">3,850</td>
                  <td data-label="Cours ouverture">3,910</td>
                  <td data-label="Cours fermeture">3,920</td>
                  <td data-label="Valeur cours">3,920</td>
                </tr>
                <tr>
                  <td data-label="Code titre">STAR</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">137,500</td>
                  <td data-label="PLB cours">136,260</td>
                  <td data-label="Cours ouverture">137,500</td>
                  <td data-label="Cours fermeture">136,260</td>
                  <td data-label="Valeur cours">136,260</td>
                </tr>
                <tr>
                  <td data-label="Code titre">STIP</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">1,620</td>
                  <td data-label="PLB cours">1,620</td>
                  <td data-label="Cours ouverture">1,620</td>
                  <td data-label="Cours fermeture">1,620</td>
                  <td data-label="Valeur cours">1,620</td>
                </tr>
                <tr>
                  <td data-label="Code titre">STS</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">4,920</td>
                  <td data-label="PLB cours">4,780</td>
                  <td data-label="Cours ouverture">4,780</td>
                  <td data-label="Cours fermeture">4,920</td>
                  <td data-label="Valeur cours">4,920</td>
                </tr>
                <tr>
                  <td data-label="Code titre">TELNET HOLDING</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">3,040</td>
                  <td data-label="PLB cours">2,920</td>
                  <td data-label="Cours ouverture">2,980</td>
                  <td data-label="Cours fermeture">2,960</td>
                  <td data-label="Valeur cours">2,960</td>
                </tr>
                <tr>
                  <td data-label="Code titre">TGH (AA)</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">0,580</td>
                  <td data-label="PLB cours">0,560</td>
                  <td data-label="Cours ouverture">0,580</td>
                  <td data-label="Cours fermeture">0,580</td>
                  <td data-label="Valeur cours">0,580</td>
                </tr>
                <tr>
                  <td data-label="Code titre">TPR</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">2,950</td>
                  <td data-label="PLB cours">2,900</td>
                  <td data-label="Cours ouverture">2,950</td>
                  <td data-label="Cours fermeture">2,900</td>
                  <td data-label="Valeur cours">2,900</td>
                </tr>
                <tr>
                  <td data-label="Code titre">TSIE LEASING</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">18,060</td>
                  <td data-label="PLB cours">18,060</td>
                  <td data-label="Cours ouverture">18,060</td>
                  <td data-label="Cours fermeture">18,060</td>
                  <td data-label="Valeur cours">18,060</td>
                </tr>
                <tr>
                  <td data-label="Code titre">TUNIS RE</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">8,200</td>
                  <td data-label="PLB cours">8,120</td>
                  <td data-label="Cours ouverture">8,120</td>
                  <td data-label="Cours fermeture">8,200</td>
                  <td data-label="Valeur cours">8,200</td>
                </tr>
                <tr>
                  <td data-label="Code titre">TUNISAIR</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">0,640</td>
                  <td data-label="PLB cours">0,620</td>
                  <td data-label="Cours ouverture">0,640</td>
                  <td data-label="Cours fermeture">0,630</td>
                  <td data-label="Valeur cours">0,630</td>
                </tr>
                <tr>
                  <td data-label="Code titre">UADH (AA)</td>
                  <td data-label="Date cours">09/09/2016</td>
                  <td data-label="PLH cours">3,680</td>
                  <td data-label="PLB cours">3,600</td>
                  <td data-label="Cours ouverture">3,600</td>
                  <td data-label="Cours fermeture">3,640</td>
                  <td data-label="Valeur cours">3,640</td>
                </tr>
              </tbody>
            </table>
          </div>
        
          <canvas id="stockChart" width="400" height="300"></canvas>

      </section>
      
      <section class="options-virement">
        <ul>
          <li class="dropdown">
            <a>Change</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'cd' %}">Cours des devises</a></li>
              <li><a href="{% url 'cbam' %}">Analyse de marche</a></li>            </ul>
          </li>
          <li class="dropdown">
            <a>Bourse</a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'cs' %}">Cours des SICAV</a></li>
                <li><a href="{% url 'cb' %}">Cours de bourse</a></li>          
              </ul></li>
        </ul>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>



      <script>
  const stockData = [
      {
        code: "SFBT",
        date: "09/09/2016",
        plh: 20.500,
        plb: 20.350,
        open: 20.400,
        close: 20.400,
        value: 20.400
      },
      {
        code: "SIAME",
        date: "09/09/2016",
        plh: 2.380,
        plb: 2.330,
        open: 2.330,
        close: 2.370,
        value: 2.370
      },
      {
        code: "SIMPAR",
        date: "09/09/2016",
        plh: 36.500,
        plb: 35.500,
        open: 35.500,
        close: 36.500,
        value: 36.500
      },
      {
        code: "SIPHAT",
        date: "09/09/2016",
        plh: 9.900,
        plb: 9.890,
        open: 9.900,
        close: 9.890,
        value: 9.890
      },
      {
        code: "SITS",
        date: "09/09/2016",
        plh: 2.050,
        plb: 2.020,
        open: 2.020,
        close: 2.050,
        value: 2.050
      },
      {
        code: "SOMOCER",
        date: "09/09/2016",
        plh:1.400,
        plb: 1.350,
        open: 1.390,
        close: 1.400,
        value: 1.400
      },
      {
      code: "SOTEMAIL (AA)",
        date: "09/09/2016",
        plh: 1.680,
        plb: 1.680,
        open: 1.680,
        close: 1.680,
        value: 1.680
      },
      {
        code: "SOTETEL",
        date: "09/09/2016",
        plh: 2.530,
        plb: 2.450,
        open: 2.530,
        close: 2.510,
        value: 2.510
      },
      {
        code: "SOTIPAPIER (AA)",
        date: "09/09/2016",
        plh: 3.800,
        plb: 3.690,
        open: 3.690,
        close: 3.780,
        value: 3.780
      },
      {
        code: "SOTRAPIL",
        date: "09/09/2016",
        plh: 8.100,
        plb: 8.100,
        open: 8.100,
        close: 8.100,
        value: 8.100
      },
      {
        code: "SOTUMAG",
        date: "09/09/2016",
        plh: 1.910,
        plb: 1.880,
        open: 1.910,
        close: 1.910,
        value: 1.910
      },
      {
        code: "SOTUVER",
        date: "09/09/2016",
        plh: 3.920,
        plb: 3.850,
        open: 3.910,
        close: 3.920,
        value: 3.920
      },
      {
        code: "STAR",
        date: "09/09/2016",
        plh: 137.500,
        plb: 136.260,
        open: 137.500,
        close: 136.260,
        value: 136.260
      },
      {
        code: "STIP",
        date: "09/09/2016",
        plh: 1.620,
        plb: 1.620,
        open: 1.620,
        close: 1.620,
        value: 1.620
      },
      {
        code: "STS",
        date: "09/09/2016",
        plh: 4.920,
        plb: 4.780,
        open: 4.780,
        close: 4.920,
        value: 4.920
      },
      {
        code: "TELNET HOLDING",
        date: "09/09/2016",
        plh: 3.040,
        plb: 2.920,
        open: 2.980,
        close: 2.960,
        value: 2.960
      },
      {
        code: "TGH (AA)",
        date: "09/09/2016",
        plh: 0.580,
        plb: 0.560,
        open: 0.580,
        close: 0.580,
        value: 0.580
      },
      {
        code: "TPR",
        date: "09/09/2016",
        plh: 2.950,
        plb: 2.900,
        open: 2.950,
        close: 2.900,
        value: 2.900
      },
      {
        code: "TSIE LEASING",
        date: "09/09/2016",
        plh: 18.060,
        plb: 18.060,
        open: 18.060,
        close: 18.060,
        value: 18.060
      },
      {
        code: "TUNIS RE",
        date: "09/09/2016",
        plh: 8.200,
        plb: 8.120,
        open: 8.120,
        close: 8.200,
        value: 8.200
      },
      {
        code: "TUNISAIR",
        date: "09/09/2016",
        plh: 0.640,
        plb: 0.620,
        open: 0.640,
        close: 0.630,
        value: 0.630
      },
      {
        code: "UADH (AA)",
        date: "09/09/2016",
        plh: 3.680,
        plb: 3.600,
        open: 3.600,
        close: 3.640,
        value: 3.640
      }
      // Add more stock data objects here...
    ];

    // Extract the data for each variable
    const codes = stockData.map(data => data.code);
    const openValues = stockData.map(data => data.open);
    const closeValues = stockData.map(data => data.close);

    // Get the canvas element
    const canvas = document.getElementById("stockChart");

    // Create the chart
    new Chart(canvas, {
      type: "bar",
      data: {
        labels: codes,
        datasets: [
          {
            label: "Cours Ouverture",
            data: openValues,
            backgroundColor: "rgba(75, 192, 192, 0.6)",
            borderColor: "rgba(75, 192, 192, 1)",
            borderWidth: 1
          },
          {
            label: "Cours Fermeture",
            data: closeValues,
            backgroundColor: "rgba(192, 75, 75, 0.6)",
            borderColor: "rgba(192, 75, 75, 1)",
            borderWidth: 1
          }
        ]
      },
      options: {
        scales: {
          x: {
            title: {
              display: true,
              text: "Stock Code"
            },
            ticks: {
        maxRotation: 90, // Increase the rotation angle
        minRotation: 90,
        autoSkip: false, // Disable automatic skipping of ticks
          maxTicksLimit: 20 // Set a maximum number of ticks to display
      }
          },
          y: {
            title: {
              display: true,
              text: "Stock Value"
            },
            suggestedMin: Math.min(...openValues, ...closeValues) - 1, // Set the minimum value slightly lower than the minimum value
            suggestedMax: Math.max(...openValues, ...closeValues) + 1, // Set the maximum value slightly higher than the maximum value
            beginAtZero: true
          },
          
        }
      }
    });
      </script>
 {% endblock %}