<!DOCTYPE html>
<html lang="en">
<head>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/form-styling.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>@Amennet Online Banking</title>
        <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />

</head>
<body>

    <header>
        <div class="header-container-app">
            <div class="app-logo">
                <img src="ressources/img/amennet.png" class="logoamennet">
            </div>
            <div class="right">
                <div class="top">
                    <button id="menu-btn">
                        <span class="material-icons-sharp" style="font-size: 2rem;"> menu </span>
                    </button>
                    <div class="logout"><i class="fas fa-sign-out-alt"></i>
                        <i class="fas fa-cog"></i>
                        <i class="fas fa-shield-alt"></i>
                    </div> 
                  <div class="theme-toggler">
                    <span class="material-icons-sharp active"> light_mode </span>
                    <span class="material-icons-sharp"> dark_mode </span>
                  </div>
                </div>

        </div>
        </header>
    <!--Sidebar-->
    <div style="display: flex;">
    <aside>
        <div class="top">
            <div class="app-logo">
                <img src="ressources/img/amennet.png" class="logoamennet">
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp"> close </span>
            </div>
        </div>
        <div class="sidebar">
          <a href="home.html">
            <span class="material-icons-sharp"> person_outline </span>
            <h3>Compte</h3>
          </a>
            <a href="Virement.html" class="active">
              <span class="material-icons-sharp">account_balance</span>
              <h3>Virement</h3>
            </a>
            <a href="">
              <span class="material-icons-sharp"> receipt_long </span>
              <h3>Telechargement</h3>
            </a>
            <a href="mon.html">
              <span class="material-icons-sharp"> money </span>
              <h3>Monétique</h3>
            </a>
            <a href="#">
              <span class="material-icons-sharp"> mail_outline </span>
              <h3>Messages</h3>
              <span class="message-count">26</span>
            </a>
            <a href="etr.html">
              <span class="material-icons-sharp"> flight </span>
              <h3>Bancaire Etranger</h3>
            </a>
            <a href="#">
              <span class="material-icons-sharp"> report_gmailerrorred </span>
              <h3>Services</h3>
            </a>
            <a href="#">
              <span class="material-icons-sharp financement-icon">monetization_on</span>

              <h3>Financement</h3>
            </a>
            <a href="cb.html">
              <span class="material-icons-sharp"> insights </span>
              <h3>Change/Bourse</h3>
            </a>
            <a href="#">
              <span class="material-icons-sharp budget-icon">account_balance_wallet</span>
              <h3>Gestion de budget</h3>
            </a>
          </div>
        </aside>
    <!--endSidebarapp-->
    <div class="content-op">
      <section class="content-section">
        <div class="title">
              <h1>Envoyer un message au support</h1>
            </div>
            <form id="form_id">
            <div class="tbl-content" style="margin-top: 20px;">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <tr>
                    <td data-label="DE">
                      <h2>DE</h2>
                      CLIENT DEMO
                    </td>
                  </tr>
                  <tr>
                    <td data-label="A">
                      <h2>A</h2>
                      Support @mennet
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Objet">
                      <h2>Objet</h2>
                      Demande de support
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Adresse">
                      <h2>Adresse</h2>
                      AMEN BANK Av. Mohamed V 1002 TUNIS TUNISIE N N N
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Numero Abonne">
                      <h2>Numero Abonne</h2>
                      10000001
                    </td>
                  </tr>
                  <tr>
                    <td data-label="N° de telephone">
                      <h2>Numero de telephone</h2>
                      <input type="Number">
                    </td>
                  </tr>
                  <tr>
                    <td data-label="N° de fax">
                      <h2>Numero de Fax</h2>
                      <input type="Number">
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Systeme d'exploitation">
                      <h2>Systeme d'exploitation</h2>
                      <select class="form-control" style="width: 200px;">
                        <option>Windows XP</option>
                        <option>LINUX</option>
                        <option>Windows 7</option>
                        <option>Windows 8</option>
                        <option>Windows VISTA</option>
                        <option>Windows 10</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Service Pack">
                      <h2>Service Pack</h2>
                      <select class="form-control" style="width: 200px;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Navigateur">
                      <h2>Navigateur</h2>
                      <select style="width: 200px;" class="form-control">
                        <option value="3">Safari</option>
                        <option value="5">Google Chrome</option>
                        <option value="6">Mozilla Firefox</option>
                        <option value="7">Opera</option>
                        <option value="8">Microsoft Edge</option>
                        <option value="2">Microsoft Internet Explorer</option>
                        <option value="9">Autre</option>
                      </select>
                      <input type="text" placeholder="Version">
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Fournisseur d'acces a internet">
                      <h2>Fournisseur d'acces a internet</h2>
                      <input type="text">
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Communication">
                      <h2>Communication</h2>
                      <div style="display: flex; justify-content: center; align-items: center;column-gap: 20px;margin-top: 15px;">
                        <input type="radio" name="Communication"><p>Modème analogique / ISDN</p>
                      </div>
                      <div style="display: flex; justify-content: center; align-items: center;column-gap: 20px;margin-top: 15px;">
                        <input type="radio" name="Communication"><p>Haut débit</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Description du problème/message d'erreur">
                      <h2>Description du problème/message d'erreur:</h2>
                      <textarea form="form_id"></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td data-label="Joindre un fichier">
                      <h2>Joindre un fichier:</h2>
                      <input type="file" name="file" id="file_id" style="padding: 10px;">
                    </td>
                  </tr>
                </tbody>
                
              </table>
            </div>
            <div style="display: flex; justify-content: flex-start;">
              <input type="submit" value="Envoyer">
              <button type="reset">Enregistrer le Brouillon</button>
            </div>
            </form>
      </section>
  
    <section class="options-virement">
        <ul>
          <li>
            <a href="mes.html">Rediger un message a l'agence</a>
          </li>
          <li class="dropdown">
            <a href="messuppo.html">Rediger un message au support</a>
        </li>
        <li class="dropdown">
            <a href="mesrec.html">Messages recus</a>
        </li>

        <li class="dropdown">
            <a href="mesenv.html">Messages envoyes</a>
        </li> 
        <li class="dropdown">
            <a href="mesins.html">Messages en instance</a>
        </li>  
        <li class="dropdown">
            <a href="messupp.html">Messages supprimes</a>
        </li>    
    </ul>
      </section>
    <script src="js/Home.js"></script>
</body>