{% extends 'master.html' %}

{% block content %}
        <section class="content-section">
            <div class="title">
                  <h1>Profil d'utilisateur</h1>
            </div>
                <form id="form_id" method="POST">
                  {% csrf_token %}
                <div class="tbl-content" style="margin-top: 20px;">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                        <td data-label="Nom d'utilisateur:">
                          <h2>Nom d'utilisateur</h2>
                          {{ user.nom }} {{user.prenom}}
                        </td>
                      </tr>
                      <tr>
                        <td data-label="Adresse:">
                          <h2>Adresse:</h2>
                          {{ user.adresse }}
                        </td>
                      </tr>
                      <tr>
                        <td>
                            Pour modifier l'adresse, veuillez utiliser la fonctionnalité MailBox (via "Rédiger message a l'agence")
                        </td>
                      </tr>
                      <tr>
                        <td data-label="Préférences linguistiques:">
                          <h2>Préférences linguistiques:</h2>
                          <select name="langue" size="1" class="form-control" id="langue">
                            <option value="fr" selected="selected">fr</option>
                            <option value="en">en</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  {% for message in messages %}
                    <div style="text-align: center;">{{ message }}</div>
                  {% endfor %}
                </div>
                <div style="display: flex; justify-content: flex-start;">
                  <input type="submit" value="Sauvegarder">
                </div>
                </form>
          </section>
    <section class="options-virement">
        <ul>
          <li><a href="{% url 'settings' %}">Profil d'utilisateur</a></li> 
          <li class="dropdown">
            <a>Préférences compte</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'setprfr' %}">Compte par défaut</a></li>
              <li><a href="{% url 'setprfrlib' %}">Libellé Compte</a></li>
              <li><a href="{% url 'setprfrmail' %}">Alerte Mail</a></li>
              <li><a href="{% url 'setprfrsms' %}">Alerte SMS</a></li>
              <li><a href="{% url 'setprfrcompteur' %}">Compteur de connexions</a></li>              
            </ul>
          </li>
          <li><a href="{% url 'setmail' %}">Paramètres mailbox</a></li>
          <li><a href="{% url 'setinf' %}">Informations sur le compte</a></li>        
          <li><a href="{% url 'security' %}">Mise à jour Mot de Passe</a></li>
          
        </ul>   
    </section>
  </div>
  {% endblock %}
