<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/form-styling.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>AdminSite</title>
        <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
</head>
<body>
    <header>
        <div class="header-container-app">
            <div class="app-logo">
                <img src="ressources/img/amennet.png" class="logoamennet">
            </div>
            <div class="right">
                <div class="top">
                    <button id="menu-btn">
                        <span class="material-icons-sharp" style="font-size: 2rem;"> menu </span>
                    </button>
                    <div class="logout"><a href="form.html"><i class="fas fa-sign-out-alt"></i></a>
                        <a href="set.html"><i class="fas fa-cog"></i></a>
                        <a href="security.html"><i class="fas fa-shield-alt"></i></a>
                    </div> 
                  <div class="theme-toggler">
                    <span class="material-icons-sharp active"> light_mode </span>
                    <span class="material-icons-sharp"> dark_mode </span>
                  </div>
                </div>

        </div>
        </header>
    <!--Sidebar-->
    <div style="display: flex;">
      <aside>
        <div class="top">
            <div class="app-logo">
                <img src="ressources/img/amennet.png" class="logoamennet">
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp"> close </span>
            </div>
        </div>
        <div class="sidebar">
          <a href="home.html">
            <span class="material-icons-sharp"> person_outline </span>
            <h3>Compte</h3>
          </a>
            <a href="Virement.html" class="active">
              <span class="material-icons-sharp">account_balance</span>
              <h3>Virement</h3>
            </a>
            <a href="tele.html">
              <span class="material-icons-sharp"> receipt_long </span>
              <h3>Telechargement</h3>
            </a>
            <a href="mon.html">
              <span class="material-icons-sharp"> money </span>
              <h3>Monétique</h3>
            </a>
            <a href="mes.html">
              <span class="material-icons-sharp"> mail_outline </span>
              <h3>Messages</h3>
              <span class="message-count">26</span>
            </a>
            <a href="etr.html">
              <span class="material-icons-sharp"> flight </span>
              <h3>Bancaire Etranger</h3>
            </a>
            <a href="services.html">
              <span class="material-icons-sharp"> report_gmailerrorred </span>
              <h3>Services</h3>
            </a>
            <a href="fin.html">
              <span class="material-icons-sharp financement-icon">monetization_on</span>

              <h3>Financement</h3>
            </a>
            <a href="cb.html">
              <span class="material-icons-sharp"> insights </span>
              <h3>Change/Bourse</h3>
            </a>
            <a href="gb.html">
              <span class="material-icons-sharp budget-icon">account_balance_wallet</span>
              <h3>Gestion de budget</h3>
            </a>
          </div>
        </aside>
    
    <!--endSidebarapp-->
    <div class="content-op">
        <section class="content-section">
            <div class="title">
                  <h1>Paramètres mailbox </h1>
            </div>
                <form id="form_id">
                <div class="tbl-content" style="margin-top: 20px;">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td data-label="Par E-mail:">
                              <h2>Par E-mail:</h2>
                              <input type="radio" name="mailbox" value="Par email">
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Par SMS:">
                              <h2>Par SMS:</h2>
                              <input type="radio" name="mailbox" value="Par SMS">
                            </div>
                            </td>
                        </tr>
                      <tr> 
                        <td>                       
                            La notification ne concerne que les messages entrants de<br> votre conseiller à la clientèle. La fonction de notification<br> n'est pas disponible pour les documents électroniques.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
                <h1 style="font-weight: 700; margin-top: 20px;"> Remarque importante</h1>
                  <p>Veuillez lire attentivement le présent texte et décidez ensuite si vous souhaitez utiliser ce service de notification en sélectionnant «oui»/«non».

                    En choisissant «Oui» et en cliquant sur le bouton «Enregistrer», vous confirmez vouloir être informé de l'arrivée d'un nouveau message par e-mail et/ou SMS.
                    
                    Parallèlement, vous confirmez avoir pris note que cette notification s'effectuera en texte non crypté via des réseaux non protégés et ne bénéficiera donc d'aucune confidentialité, et que, pour des raisons inhérentes au système, son envoi n'est pas à chaque fois garanti à l'utilisateur.</p>
                <div style="display: flex; justify-content: flex-start;">
                  <input type="submit" value="Sauvegarder">
                </div>
                </form>
          </section>
    <section class="options-virement">
        <ul>
            <li><a href="set.html">Profil d'utilisateur</a></li> 
            <li class="dropdown"><a>Préférences compte</a>
                <ul class="dropdown-menu">
                    <li><a href="setprfr.html">Compte par défaut</a></li>
                    <li><a href="setprfrlib.html">Libelle Compte</a></li>
                    <li><a href="setprfrmail.html">Alerte Mail</a></li>
                    <li><a href="setprfrsms.html">Alerte SMS</a></li>
                    <li><a href="setprfrcompteur.html">Compteur de connexions</a></li>
                </ul>
                </li>
            <li><a href="setmail.html">Paramètres mailbox</a></li>
            <li><a href="setinf.html">Informations sur le compte</a></li>        
            <li><a href="security.html">Mise à jour Mot de Passe</a></li>
        </ul>   
    </section>
  </div> 
  </div>
    <script src="js/Home.js"></script>
</body>