{% extends 'master.html' %}

    
    <!--endSidebarapp-->
    {% block content %}
        <section class="content-section custom" >
            <div class="title">
                  <h1>Nouvel import de virement de masse</h1>
                </div>
                <form id="form_id">
                <div class="tbl-content tbl-rech" style="margin-top: 1rem;">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr>
                          <td>
                            <h2>Format de fichier</h2>
                          <select class="form-control" style="width: 300px;">
                              <option value="01">Format Standard</option>
                              <option value="02">Format AFB320</option>
                              <option value="03">Format NT 112.15 de 1998</option>
                          </select>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div style="display: flex; justify-content: flex-start;">
                  <input type="submit" value="Nouvel import">
                </div>
                </form>
          </section>
            <section class="options-virement">
              <ul>
                <li class="dropdown">
                  <a>Virement de compte à compte</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'virement' %}">Nouveau virement</a></li>
                    <li><a href="{% url 'virmentsigne' %}">Virement à signer</a></li>
                    <li><a href="{% url 'virhis' %}">Historique des virements</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a>Virement avec benéficiaire</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'virben' %}">Nouveau virement</a></li>
                    <li><a href="{% url 'virbenges' %}">Gestion des benéficiaires</a></li>
                    <li><a href="{% url 'virbensin' %}">Virement à signer</a></li>
                    <li><a href="{% url 'virbenhis' %}">Historique des virements</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a>Virement de masse</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'virmas' %}">Nouveau virement</a></li>
                    <li><a href="{% url 'virmassin' %}">Virement à signer</a></li>
                    <li><a href="{% url 'virmashis' %}">Historique des virements</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a>Virement permanant</a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'virper' %}">Virement Permanent de compte à compte</a></li>
                    <li><a href="{% url 'virperben' %}">Virement Permanent avec benéficiaire</a></li>
                    <li><a href="{% url 'virperlis' %}">Liste des virement permanants</a></li>
                    <li><a href="{% url 'virpersin' %}">Virement permanant à signer</a></li>
                  </ul>
                </li>
                <li><a href="{%url  'modvir' %}">Modèles virements</a></li>
              </ul>
              
            </section>
      
      
  </div> 
  {% endblock %}