/* DECLARATIONS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* ROOT VARIABLES */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* DARK THEME VARIABLES */
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #565758;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* STYLES */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

canvas {
  border: 1px solid var(--color-dark);
  margin-top: 20px;
}

.courshead {
  background-color: var(--color-dark);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-family: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-background);
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.slogan {
  color: #008738;
  text-align: center;
  font-weight: 500;
  font-size: 33px;
  margin-bottom: 12px;
}

.header-container-app {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  height: 7rem;
}
.header-container-app .app-logo {
  margin-left: 20px;
  width: 14rem;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.amenbankLogo {
  width: 480px;
}

.right {
  margin-right: 37px;
}
.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
  font-size: 1.6rem;
}
.right .top a {
  width: 22.41px;
  height: 22.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right .top .logout {
  margin-bottom: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 7rem;
}
.right .top .logout i:hover {
  cursor: pointer;
}
.right .top button {
  display: none;
}
.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 5rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
.right .theme-toggler span {
  font-size: 1.8rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .theme-toggler span .active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
aside .close {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 5rem;
  width: 22rem;
}
.sidebar a {
  display: flex;
  color: var(--color-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}
.sidebar a h3 {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0px;
}
.sidebar a span {
  font-size: 2.5rem;
  transition: all 300ms ease;
  color: var(--color-dark);
}
.sidebar a .active {
  background: var(--color-light);
  color: #00813a;
  margin-left: 0;
}
.sidebar a .active::before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}
.sidebar a .active span {
  color: #00813a;
  margin-left: calc(1rem - 6px);
}
.sidebar a:hover {
  color: #00813a;
}
.sidebar a:hover span {
  margin-left: 1rem;
  color: #00813a;
}
.sidebar .message-count {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

.content-op {
  display: flex;
  justify-content: space-around;
  margin-right: 1rem;
  width: 100%;
}

.tbl-rech h2 {
  color: var(--color-dark);
}

.content-section {
  width: 53rem;
  background-color: var(--color-light);
  margin-top: 130px;
  border-radius: 1rem;
  padding: 2rem 2.5rem 2rem 2.5rem;
  /* demo styles */
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
}
.content-section .np {
  background-color: transparent;
  color: #00813a;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 20px;
  border: 1px solid #00813a;
  border-radius: 3px;
}
.content-section .np:hover {
  background-color: #00813a;
  color: var(--color-info-light);
  cursor: pointer;
}
.content-section input[type=submit], .content-section button[type=reset] {
  background-color: transparent;
  color: #00813a;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 20px;
  border: 1px solid #00813a;
  border-radius: 3px;
}
.content-section input[type=submit]:hover, .content-section button[type=reset]:hover {
  background-color: #00813a;
  color: var(--color-info-light);
  cursor: pointer;
}
.content-section .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0.5rem;
}
.content-section table {
  width: 100%;
  table-layout: fixed;
}
.content-section .tbl-header {
  margin-top: 2rem;
  background-color: var(--color-dark);
}
.content-section .tbl-content {
  height: 24.3rem;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid var(--color-dark);
}
.content-section th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: var(--color-white);
  text-transform: uppercase;
}
.content-section td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: var(--color-dark-variant);
  border-bottom: solid 1px var(--color-dark);
}
.content-section td .form-control {
  padding: 10px;
  height: 2.7rem;
  width: 8rem;
  text-align: center;
  border-radius: 0.5rem;
  color: var(--color-dark-variant);
  background-color: var(--color-light);
}
.content-section td input {
  border-radius: 5px;
  background-color: var(--color-light);
}
.content-section td input[type=number], .content-section td input[type=date], .content-section td input[type=text], .content-section td input[type=file] {
  height: 37px;
  width: 8rem;
  padding: 10px;
  color: var(--color-dark-variant);
}
.content-section td textarea {
  border-radius: 5px;
  background-color: var(--color-light);
  color: var(--color-dark-variant);
  width: 200px;
  height: 150px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing */
}
.content-section body {
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: "Roboto", sans-serif;
}
.content-section section {
  margin: 50px;
}
.content-section .made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.content-section .made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.content-section .made-with-love a {
  color: #fff;
  text-decoration: none;
}
.content-section .made-with-love a:hover {
  text-decoration: underline;
}
.content-section ::-webkit-scrollbar {
  width: 6px;
}
.content-section ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.content-section ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.options {
  width: 28rem;
  background-color: var(--color-light);
  margin-top: 130px;
  border-radius: 1rem;
  padding: 3rem;
  color: var(--color-dark);
  font-size: 20px;
}
.options ul {
  list-style: disc;
  margin: 0px;
}
.options ul li {
  margin-bottom: 15px;
}
.options a {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to right, #00813a, #00813a 50%, var(--color-dark) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.options a:before {
  content: "";
  background: #00813a;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.options a:hover {
  background-position: 0;
  cursor: pointer;
}
.options a:hover::before {
  width: 100%;
}
.options img {
  width: 200px;
}

.options-virement {
  width: 28rem;
  background-color: var(--color-light);
  margin-top: 130px;
  border-radius: 1rem;
  padding: 3rem;
  color: var(--color-dark);
  font-size: 20px;
}
.options-virement .dropdown .dropdown-menu {
  display: none;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
}
.options-virement .dropdown .dropdown-menu.show, .options-virement .dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.options-virement .dropdown:hover .dropdown-menu {
  margin-left: 20px;
  margin-top: 10px;
}
.options-virement .dropdown-menu {
  display: none;
}
.options-virement ul {
  list-style: disc;
  margin: 0px;
}
.options-virement ul li {
  margin-bottom: 15px;
}
.options-virement a {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to right, #00813a, #00813a 50%, var(--color-dark) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.options-virement a:before {
  content: "";
  background: #00813a;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.options-virement a:hover {
  background-position: 0;
  cursor: pointer;
}
.options-virement a:hover::before {
  width: 100%;
}
.options-virement img {
  width: 200px;
}

.form-section {
  margin-top: 200px;
}

form {
  margin-bottom: 100px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  height: 600px;
  padding: 20px;
  border-radius: 5px;
  float: left;
  background-color: rgb(33, 33, 33);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.form-container .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-container .input input[type=text],
.form-container .input input[type=password] {
  width: 80%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-container h2 {
  font-weight: 700;
}
.form-container h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.form-container .submit {
  display: flex;
  justify-content: center;
}
.form-container .submit input[type=submit] {
  background-color: #00813a;
  color: #fff;
  width: 600px;
  height: 60px;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  font-size: 20px;
}
.form-container .submit input[type=submit]:hover {
  background-color: #1f2027;
  border: #ffffff solid 2px;
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add box shadow on hover */
}
.form-container .submit input[type=submit]:focus {
  border: #ffffff solid 2px; /* Apply the border when button is focused */
  outline: none; /* Remove the default outline */
}
.form-container .note {
  background-color: #ecff95;
  margin-top: 40px;
  padding: 10px;
  font-weight: 700;
  color: #718516;
  border-radius: 4px;
  @import url("https://fonts.googleapis.com/css?family=Mukta:700");
}
.form-container .note * {
  box-sizing: border-box;
}
.form-container .note *::before, .form-container .note *::after {
  box-sizing: border-box;
}
.form-container .note button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.form-container .note button.learn-more {
  width: 15rem;
  margin-top: 15px;
  height: auto;
}
.form-container .note button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  margin-top: 2px;
  width: 3rem;
  height: 3rem;
  background: black;
  border-radius: 1.625rem;
}
.form-container .note button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: black;
}
.form-container .note button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.7rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.form-container .note button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid white;
  border-right: 0.125rem solid white;
  transform: rotate(45deg);
}
.form-container .note button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -3px;
  left: 30px;
  right: 0;
  bottom: 0px;
  padding: 0.75rem 0;
  margin: 0 0 1.85rem;
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.form-container .note button:hover .circle {
  width: 100%;
}
.form-container .note button:hover .circle .icon.arrow {
  background: white;
  transform: translate(1rem, 0);
}
.form-container .note button:hover .button-text {
  color: white;
}

.img-form {
  position: relative;
  display: inline-block;
  height: 600px;
}
.img-form img {
  display: block;
  width: 900px;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.img-form .overlay {
  border-radius: 9px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity as desired */
}
.img-form .text-container {
  margin: 0px 30px;
  position: absolute;
  top: 0;
  font-size: 40px;
  font-weight: 700;
  left: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  text-align: center;
}
.img-form .text-container p {
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
}

.fl-fl {
  background: #03943F;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 4px;
  width: 150px;
  position: fixed;
  left: -110px;
  z-index: 1000;
  font-size: 10px;
  font-weight: bold;
  transition: all 0.25s ease;
}

@font-face {
  font-family: "icomoon";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"), url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.social-networks {
  margin-top: 50px;
  margin: 35px;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.social-networks li {
  display: inline-block;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 68px;
  height: 68px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}
.social-networks a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: #1f2027;
  transition: all 400ms;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  font-size: 26px;
  line-height: 66px;
}
.social-networks a:hover, .social-networks a:focus {
  text-decoration: none;
}
.social-networks.spin-icon a:hover:after, .social-networks.spin-icon a:focus:after {
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg);
}
.social-networks.square a:hover:before, .social-networks.square a:focus:before {
  border-radius: 0;
}
.social-networks.bounce a:hover, .social-networks.bounce a:focus {
  animation: bounce 1s;
}
.social-networks .icon-linkedin:after {
  content: "\eac9";
}
.social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
  background: #0077b5;
}
.social-networks .icon-facebook:after {
  content: "\e603";
}
.social-networks .icon-facebook:hover:before, .social-networks .icon-facebook:focus:before {
  background: #3b5998;
}
.social-networks .icon-twitter:after {
  content: "\e618";
}
.social-networks .icon-twitter:hover:before, .social-networks .icon-twitter:focus:before {
  background: #00b0ed;
}
.social-networks .icon-instagram:after {
  content: "\e604";
}
.social-networks .icon-instagram:hover:before, .social-networks .icon-instagram:focus:before {
  background: #3f729b;
}
.social-networks .icon-youtube:after {
  content: "\e619";
}
.social-networks .icon-youtube:hover:before, .social-networks .icon-youtube:focus:before {
  background: #FF0000;
}

footer {
  width: 100%;
  height: 500px;
}
footer .footer-container {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1f2027;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
footer .footer-container .actualites {
  width: 410px;
  color: white;
  font-size: 20px;
}
footer .footer-container .actualites p {
  margin: 0px;
}
footer .footer-container .informations {
  color: white;
  font-size: 20px;
}
footer .footer-container .informations ul {
  margin: 0px;
}
footer .footer-container .informations ul li {
  margin-bottom: 15px;
}
footer .footer-container .informations a {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to right, #00813a, #00813a 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
footer .footer-container .informations a:before {
  content: "";
  background: #00813a;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
footer .footer-container .informations a:hover {
  background-position: 0;
  cursor: pointer;
}
footer .footer-container .informations a:hover::before {
  width: 100%;
}
footer .footer-container .informations img {
  width: 200px;
}
footer .footer-container .contact {
  color: white;
  font-size: 20px;
}
footer .footer-container .contact ul {
  margin: 0px;
}
footer .footer-container .contact ul li {
  margin-bottom: 15px;
}
footer .footer-container .footer-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 40px;
}
footer .cp {
  background-color: #1f2027;
  margin: 0px;
  text-align: center;
  color: white;
  padding: 10px;
}

@media only screen and (max-width: 1500px) {
  .header-container .amenbankLogo {
    width: 200px;
  }
  .header-container .slogan {
    font-size: 20px;
  }
  .form-container {
    max-width: 500px;
  }
  .form-container h2 {
    margin-bottom: 20px;
  }
  .form-container .input {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }
  .form-container .submit {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 1500px) and (max-width: 1360px) {
  .form-container {
    max-width: 400px;
    height: 900px;
  }
  .form-container h2 {
    margin-bottom: 20px;
  }
  .form-container .input {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }
  .form-container .submit {
    margin-top: 40px;
  }
  .img-form {
    margin-top: 20px;
    height: 470px;
  }
  .img-form img {
    width: 700px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1140px) {
  .help {
    padding: 10px;
  }
  .container {
    display: flex;
  }
  .form-container {
    max-width: 800px;
  }
  .form-container h2 {
    margin-bottom: 20px;
  }
  .form-container .input {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }
  .form-container .submit {
    margin-top: 40px;
  }
  .img-form {
    display: none;
  }
  .content-op {
    flex-direction: column;
    row-gap: 0px;
    padding-bottom: 3rem;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .app-logo {
    display: none;
  }
  .right {
    width: 94%;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }
  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
  .right .logout {
    position: absolute;
    left: 40%;
  }
  .right .theme-toggler {
    width: 4.4rem;
    position: absolute;
    right: 5%;
  }
  .right .profile .info {
    display: none;
  }
  aside {
    position: fixed;
    left: -100%;
    background: var(--color-background);
    width: 18rem;
    z-index: 1000;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  aside .app-logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  aside .app-logo .logoamennet {
    width: 10rem;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  aside .logo {
    margin-left: 1rem;
  }
  aside .logo h2 {
    display: inline;
  }
  aside .sidebar h3 {
    display: inline;
  }
  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  aside .close {
    display: inline-block;
    cursor: pointer;
  }
  .help {
    font-size: 20px;
    margin: 150px;
    max-width: 400px;
  }
  .header-container .amenbankLogo {
    width: 200px;
  }
  .header-container .slogan-container .slogan {
    font-size: 20px;
  }
  .logo-container {
    margin-bottom: 20px;
  }
  .amenbankLogo {
    max-width: 150px;
  }
  .form-section {
    margin-top: 100px;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .form-container {
    max-width: 500px;
  }
  .form-container h2 {
    margin-bottom: 20px;
  }
  .form-container .input {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }
  .form-container .submit {
    margin-top: 40px;
  }
  .img-form {
    margin-top: 20px;
  }
  .img-form img {
    max-width: 100%;
  }
  footer {
    height: auto;
  }
  footer .footer-container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 20px;
  }
  footer .actualites {
    width: 410px;
  }
  footer .informations, footer .contact {
    width: 410px;
  }
  .content-section {
    width: 40rem;
    padding: 14px 10px 10px 10px;
  }
  .content-section .title {
    margin-left: 1rem;
  }
  .options {
    margin-top: 4rem;
  }
  .tbl-header,
  .tbl-content {
    width: 100%;
  }
  .tbl-header td,
  .tbl-content td {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
    margin: 0;
  }
  .theme-toggler {
    bottom: 20px;
  }
  .logout {
    margin: 0px;
    bottom: 20px;
  }
  .header-container {
    width: 100%;
    align-items: top;
    -moz-column-gap: 0px;
         column-gap: 0px;
    justify-content: space-around;
  }
  .header-container .amenbankLogo {
    width: 80px;
  }
  .header-container .slogan {
    font-size: 15px;
    margin-top: 12px;
  }
  .header-container .logoamennet {
    width: 70px;
    margin-top: 5px;
  }
  .social-networks {
    margin-bottom: 20px;
  }
  .form-container {
    margin-top: 100px;
    max-width: 300px;
    height: 900px;
  }
  .form-container h2 {
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .form-container .input {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }
  .form-container .submit {
    margin-top: 70px;
  }
  .form-container .button-text {
    margin-bottom: 10px;
  }
  .submit input[type=submit] {
    width: 100%;
  }
  .footer-container {
    padding: 20px;
    grid-template-columns: 1fr;
  }
  .img-form {
    display: none;
  }
  footer {
    height: auto;
    margin: 0;
  }
  footer .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  footer .actualites {
    margin-top: 20px;
  }
  footer .informations, footer .contact {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .content-section {
    width: 25rem;
    padding: 15px 20px 20px 20px;
  }
  .content-section .title {
    margin: 0px;
  }
  .content-section .tbl-content {
    margin: 0rem;
  }
  .content-section thead {
    display: none;
    height: 0;
    position: absolute;
  }
  .content-section tr {
    display: block;
  }
  .content-section td {
    border: 1px solid;
    border-bottom: none;
    display: block;
    font-size: 0.8em;
    text-align: center;
  }
  .content-section td h2 {
    display: none;
  }
  .content-section td p {
    font-size: 15px;
  }
  .content-section td::before {
    content: attr(data-label);
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
    color: var(--color-dark-variant);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  /* .content-section {
      width: 30rem;
      padding: 2rem;
      margin-top: 5rem;
    }

    .tbl-header,
    .tbl-content {
      width: 100%;
      td {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      table tbody {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        td {
          flex-basis: calc(50% - 1rem);
          margin-bottom: 1rem;
        }
      }
    }

  */
  /* Flexbox layout for table cells */
}
.help {
  background-color: #1f2027;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 25px;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 50px;
  padding: 25px;
  border-radius: 7px;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css?family=Mukta:700");
}
.help * {
  box-sizing: border-box;
}
.help *::before, .help *::after {
  box-sizing: border-box;
}
.help button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.help button.learn-more {
  width: 15rem;
  margin-top: 15px;
  height: auto;
}
.help button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  margin-top: 2px;
  width: 3rem;
  height: 3rem;
  background: white;
  border-radius: 1.625rem;
}
.help button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
}
.help button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.7rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.help button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid black;
  border-right: 0.125rem solid black;
  transform: rotate(45deg);
}
.help button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -3px;
  left: 30px;
  right: 0;
  bottom: 0px;
  padding: 0.75rem 0;
  margin: 0 0 1.85rem;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.help button:hover .circle {
  width: 100%;
}
.help button:hover .circle .icon.arrow {
  background: black;
  transform: translate(1rem, 0);
}
.help button:hover .button-text {
  color: black;
}/*# sourceMappingURL=form-styling.css.map */